<{include file="../header.html"}>
<script type="text/javascript" src="js/admin.js"></script>
  <div class="pageColumn">
  <div class="pageButton main_info">
      会员列表
      <script type="text/javascript">
        window.onload=function(){

        function sure(id){
          if(confirm('你确定要删除吗？删除数据不可恢复')){
            window.location.href="admin_cproduct_mpro_delete_i"+id+".html";
          }else{
            return false;
          }
        }
      </script>
      <ul>
          <li><a href="admin_cmembers_mmembers_set.html">【前台显示表单项设置】</a></li>
      </ul>
  </div>
    <table>
    </tr>
    <thead>
    <th width="25"><input name="" type="checkbox" value="" /></th>
    <th width="10%">编号</th>
      <th width="20%">联系人</th>
      <th width="20%">注册时间</th>
      <th width="">操作</th>
        </thead>
    <tbody>
      <{foreach from=$info item=m}>
        <tr>
        <td class="checkBox"><input name="" type="checkbox" value="" /></td>
        <td><{$m.id}></td>
        <td><{$m.contacts}></td>
        <td><{$m.pub_date}></td>
        <td><span><a href="admin_cmessage_detailInformation_i<{$info.id}>.html">【详细信息】</a>
        </span><span><a href="admin_cproduct_mpro_edit_i<{$m.id}>.html">【编辑】</a></span></span><span><a href="javascript:void(0);" onclick="sure('<{$m.id}>');">【删除】</a></span></td>
      </tr>
      <{/foreach}>
      
      
    </tbody>
  </table>
  </div>
</div>
</body>
</html>
