<{include file="../header.html"}>
<style type="text/css">
  .content_left{
    border: 1px solid #e6e6e6; 
    width: 50px; 
    line-height:500px; 
    height: 500px; 
    font-weight: bolder; 
    text-align: center;
    float: left;
  }
  .content_right{
    width: 1150px;
    height: 500px;
    border: 1px solid #e6e6e6;
    float: left;
  }
</style>
  <div class="pageColumn">
  <div class="pageButton main_info">
      添加产品类别
  </div>
  <form action="" method="post" enctype="multipart/form-data">
        <div class="form"><label for="sort">类别排序：</label><input type="text" name="category_sort" id="sort"></div>
        <div class="form"><label for="title"><span style="color: red; font-weight: bolder;">*</span>类别名称：</label><input type="text" name="category_name" id="title"></div>
        <div class="form"><label for="category">所属分类：</label>
        <select id="category" name="category">
          <option value="0">根类别</option>
          <{$category}>
        </select>
        </div>
        <div class="form1"><input type="submit" value="提交" name="submit"><input type="reset" value="重置"></div>
  </form>
  </div>
</div>
</body>
</html>
