<{include file="../header.html"}>
<style type="text/css">
  .content_left{
    border: 1px solid #e6e6e6; 
    width: 50px; 
    line-height:500px; 
    height: 500px; 
    font-weight: bolder; 
    text-align: center;
    float: left;
  }
  .content_right{
    width: 1000px;
    height: 500px;
    border: 1px solid #e6e6e6;
    float: left;
  }
</style>
  <div class="pageColumn">
  <div class="pageButton main_info">
      添加产品
  </div>
  <form action="admin_cproduct_mpro_add.html" method="post" enctype="multipart/form-data">
        <div class="form"><label for="sort">排序：</label><input type="text" name="sort" id="sort" value="1"></div>
        <div class="form"><label for="title"><span style="color: red; font-weight: bolder;">*</span>标题：</label><input type="text" name="title" id="title"></div>
        <div class="form"><label for="author">发布人：</label><input type="text" name="author" id="author"></div>
        <div class="form"><label for="category">类别：</label>
        <select id="category" name="category">
          <{$displayLastCategory}>
        </select>
        </div>
        <!-- 产品设置模块 -->
        <{if $is_type eq 1}><div class="form"><label for="type"><span style="color: red; font-weight: bolder;">*</span>型号：</label><input type="text" name="type" id="type"></div><{/if}>
        <{if $is_parameter eq 1}><div class="form"><label for="parameter"><span style="color: red; font-weight: bolder;">*</span>参数：</label><input type="text" name="parameter" id="parameter"></div><{/if}>
        <{if $is_discount eq 1}><div class="form"><label for="discount"><span style="color: red; font-weight: bolder;">*</span>折扣：</label><input type="text" name="discount" id="discount"></div><{/if}>
        <{if $is_brand eq 1}><div class="form"><label for="brand"><span style="color: red; font-weight: bolder;">*</span>品牌：</label><input type="text" name="brand" id="brand"></div><{/if}>
        <{if $is_producers eq 1}><div class="form"><label for="producers"><span style="color: red; font-weight: bolder;">*</span>生产商：</label><input type="text" name="producers" id="producers"></div><{/if}>
        <{if $is_price eq 1}><div class="form"><label for="price"><span style="color: red; font-weight: bolder;">*</span>价格：</label><input type="text" name="price" id="price"></div><{/if}>
        <{if $is_keywords eq 1}><div class="form"><label for="keywords">关键字：</label><input type="text" name="keywords" id="keywords"></div><{/if}>
        <!-- 产品设置模块结束 -->


        <{if $is_pic1 eq 1}><div class="form">
          <label for="pic1">图片1:(缩略图)</label>
          <input type="file" name="pic[]" id="pic1">
        </div>
        <{/if}>
        <{if $is_pic2 eq 1}><div class="form">
          <label for="pic2">图片2:(内容图)</label>
          <input type="file" name="pic[]" id="pic2">
        </div>
        <{/if}>
        <div class="content_left">
          <label>内容:</label>
        </div>
        <textarea class="content_right" name="content" id="content">
        </textarea>
        <div class="form1"><input type="submit" value="提交" name="submit"><input type="reset" value="重置"></div>
  </form>
  </div>
</div>
</body>
</html>
