<{include file="../header.html"}>
<script type="text/javascript">
  function sure1(id){
    if(confirm("你确定要删除吗？")){
      window.location.href="admin_cproduct_mpro_category_delete_i"+id+".html";
    }else{
      return false;
    }
  }
</script>
  <div class="pageColumn">
  <div class="pageButton main_info">
      <span>产品类别管理</span>
      <ul>
            <li>【<a href="admin_cproduct_mpro_category_add.html" target="right">添加产品类别</a>】</li>
      </ul>
  </div>
    <ul class="main">
        <{$listCategory}>
    </ul>
  </div>
</div>
</body>
</html>
