<{include file="../header.html"}>
<style type="text/css">
  .content_left{
    border: 1px solid #e6e6e6; 
    width: 80px; 
    line-height:500px; 
    height: 500px; 
    font-weight: bolder; 
    text-align: center;
    float: left;
  }
  .content_right{
    width: 1000px;
    height: 500px;
    border: 1px solid #e6e6e6;
    float: left;
  }
</style>
  <div class="pageColumn" style="margin-bottom: 20px;">
  <div class="pageButton main_info">
      <span style="color:red;font-weight: bolder;"><{$personel_info_one.name}></span>的详细信息
  </div>
        <div class="form">姓名：<{$personel_info_one.name}></div>
        <div class="form">身高：<{$personel_info_one.height}></div>
        <div class="form">性别：<{$personel_info_one.sex}></div>
        <div class="form">住址：<{$personel_info_one.address}></div>
        <div class="form">毕业学校：<{$personel_info_one.school_of_graduation}></div>
        <div class="form">英语水平：<{$personel_info_one.english_level}></div>
        <div class="form">应聘职位：<{$personel_info_one.position_name}></div>
        <div class="form">贯籍：<{$personel_info_one.hometown}></div>
        <div class="form">出生年月：<{$personel_info_one.date_of_birth}></div>
        <div class="form">联系电话：<{$personel_info_one.phone}></div>
        <div class="form">家属紧急电话：<{$personel_info_one.families_of_emergency_call}></div>
        <div class="form">电子邮箱：<{$personel_info_one.email}></div>
        <div class="form">工作经历：<{$personel_info_one.work_experience}></div>
        <div class="form">应聘日期：<{$personel_info_one.pub_date}></div>
        <div class="form">附件：<{$personel_info_one.attachment}></div>
        <div class="form"><a href="javascript:history.back();"><span style="color:red; font-weight: bolder;">【返回】</span></a></div>
  </div>
</body>
</html>
