<{include file="../header.html"}>
<style type="text/css">
  .content_left{
    border: 1px solid #e6e6e6; 
    width: 80px; 
    line-height:500px; 
    height: 500px; 
    font-weight: bolder; 
    text-align: center;
    float: left;
  }
  .content_right{
    width: 1000px;
    height: 500px;
    border: 1px solid #e6e6e6;
    float: left;
  }
</style>
  <div class="pageColumn">
  <div class="pageButton main_info">
      XX的详细信息
  </div>
        <div class="form">姓名：</div>
        <div class="form">身高：</div>
        <div class="form">性别：</div>
        <div class="form">住址：</div>
        <div class="form">毕业学校：</div>
        <div class="form">英语水平：</div>
        <div class="form">应聘职位：</div>
        <div class="form">贯籍：</div>
        <div class="form">出生年月：</div>
        <div class="form">联系电话：</div>
        <div class="form">家属紧急电话：</div>
        <div class="form">电子邮箱：</div>
        <div class="form">工作经历：</div>
        <div class="form">应聘日期：</div>
        <div class="form">附件：</div>
        <div class="form1"><a href="javascript:history.back();">【返回】</a></div>
  </div>
</div>
</body>
</html>
