<{include file="header.html"}>
  <div class="pageColumn">
  <div class="pageButton main_info">欢迎您登陆创想易维网站管理系统!</div>
    <div class="main_b">
        <p>如果您喜欢本网站产品，请推荐给您的朋友；</p>
        <p>如果您在使用中有任何问题或建议，请告诉我们；</p>
        <p>如果您的企业规模进一步扩大，建议您升级您的网站为“定制开发版”，更能将您的企业形象传递给客户。</p>
        <p>创想还为您提供以下最新的优质产品，助力您的企业发展：</p>
        <p>创想OA在线办公软件； 尚易企业邮箱产品； 书生商友网络营销软件； GOOGLE竞价排名服务；</p> 
        <p>中文域名注册；</p>
        <p>……</p>
        <p>如果您有任务需要，请与我们联系：</p>
        <p>电话：0335-8079068</p>
        <p>http://www.truthing.cn/</p>
        <p>E-mail:ywb@truthing.cn</p>
    </div>
  </div>
</div>
</body>
</html>
